{% extends 'gestion/base.html' %}

{% block content %}

<h2>Panel Principal</h2>

<div class="cards">

    <a href="/clientes/" class="card">
        <h3>Clientes</h3>
        <p>Gestión de clientes registrados.</p>
    </a>

    <a href="/empleados/" class="card">
        <h3>Empleados</h3>
        <p>Administración del personal.</p>
    </a>

    <a href="/platos/" class="card">
        <h3>Platos</h3>
        <p>Listado de platos disponibles.</p>
    </a>

    <a href="/ordenes/" class="card">
        <h3>Órdenes</h3>
        <p>Control de pedidos del restaurante.</p>
    </a>

    <a href="/facturas/" class="card">
        <h3>Facturas</h3>
        <p>Gestión de facturación.</p>
    </a>

    <a href="/mesas/" class="card">
        <h3>Mesas</h3>
        <p>Control de mesas disponibles.</p>
    </a>

</div>

{% endblock %}