{% extends 'gestion/base.html' %}

{% block content %}

<h2>Panel Principal</h2>

<div class="cards">

    <div class="card">
        <h3>👥 Clientes</h3>
        <p>Gestión de clientes registrados.</p>
    </div>

    <div class="card">
        <h3>🧑‍🍳 Empleados</h3>
        <p>Administración del personal.</p>
    </div>

    <div class="card">
        <h3>🍝 Platos</h3>
        <p>Listado de platos disponibles.</p>
    </div>

    <div class="card">
        <h3>🧾 Órdenes</h3>
        <p>Control de pedidos del restaurante.</p>
    </div>

    <div class="card">
        <h3>💳 Facturas</h3>
        <p>Gestión de facturación.</p>
    </div>

    <div class="card">
        <h3>🍽️ Mesas</h3>
        <p>Control de mesas disponibles.</p>
    </div>

</div>

{% endblock %}