{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión | Pasta La Vista</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="login-container">

    <div class="login-card">

        <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="Logo">
        </div>

        <div class="login-header">
            <h1>Pasta La Vista</h1>
            <p>Sistema Administrativo</p>
        </div>

        {% if error %}
            <div class="error-box">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="username" placeholder="Usuario" required>
            </div>

            <div class="input-group">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>

            <button type="submit" class="login-btn">
                Iniciar Sesión
            </button>
        </form>

        <div class="login-footer">
            <p>Panel administrativo del restaurante</p>
            <p>Proximamente login de empleados y clientes</p>
            <p>Johan Casasbuenas_Desarrollador</p>
            
        </div>

    </div>

</div>

</body>
</html>